*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(70, 203, 92, 0.101);
     border:2px solid rgba(147, 24, 200, 0.61);
    box-shadow: 0px 0px 30px rgb(0, 1, 8); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;

}
.clock span b{
    transform: rotate(calc(-30deg *var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
    z-index: 4;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hand i{
    position: absolute;
    background-color : var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
#date {
    margin-top: 20px;
    font-size: 24px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#tamilDay {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}